/*Base Styling*/

body {
    background-color: #ccd6e5; 
}

/*Homepage Styling*/
#search-click {
    margin-right:10px;
    margin-bottom:20px;
}

#sign-up {
    margin-left:10px;
    margin-bottom:20px;
}

.slide {
    opacity: 0.75;
}

.welcome {
    position: absolute;
    top: 200px;
    justify-content: center;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.welcome-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Search Page Styling*/
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-page-head {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-page-desc {
    margin-top: 10px;
    margin-bottom: 10px;
}

#default_shape {
    border-style: dotted;
    border-color: black;
    width: 100px;
    height: 200px;
    background-color: white;
}

.split-left {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    width: 30%;
    overflow-y: scroll;
}

.split-right {
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 70%;
}

.pin_image {
  border-radius: 5px;
  margin-bottom: 20px;
  border-collapse: separate; 
}

#image_preview {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Results Page Styling*/
/*https://codepen.io/mcraiganthony/pen/NxGxqm*/
/*https://codepen.io/virgilpana/pen/RNYQwB/?editors=1000*/
/*https://codepen.io/ff0004-red/pen/WxJEJZ/
*/
/*@gray-darker: #444444;
@gray-dark: #696969;
@gray: #999999;
@gray-light: #cccccc;
@gray-lighter: #ececec;
@gray-lightest: lighten(@gray-lighter,4%);

*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: @gray;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}*/

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid @gray-light;
  //border-radius: 1rem;
  color: @gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.list-item {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.text-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.result_image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
      display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.product-info {
  color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}*/

/*PRIOR ATTEMPT HERE*/

/*.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.result_image {
    max-width: 75%;
    height: auto;
    max-height: 300px;
    /*border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}


.list-item {
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.text-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.list-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text-container {
    padding: 2px 16px;
}

.save-button {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    padding: 0.5rem;
    display: block;
    margin-bottom: 10px;
}*/

/*Bookmarks Page Styling*/
.bookmark_image {
    max-width: 75%;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
}





