/*Base Styling*/

body {
    background-color: #ccd6e5; 
}

/*Homepage Styling*/
#search-click {
    margin-right:10px;
    margin-bottom:20px;
}

#sign-up {
    margin-left:10px;
    margin-bottom:20px;
}

.slide {
    opacity: 0.75;
}

.welcome {
    position: absolute;
    top: 200px;
    justify-content: center;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.welcome-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Search Page Styling*/
#search-page-head {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-page-desc {
    margin-top: 10px;
    margin-bottom: 10px;
}

#default_shape {
    border-style: dotted;
    border-color: black;
    width: 100px;
    height: 200px;
    background-color: white;
}

.split-left {
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    width: 30%;
    overflow-y: scroll;
}

.split-right {
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 70%;
}

.pin_image {
  border-radius: 5px;
  margin-bottom: 20px;
  border-collapse: separate; 
}

#image_preview {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Results Page Styling*/
.result_image {
    max-width: 75%;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
}


/*Bookmarks Page Styling*/
.bookmark_image {
    max-width: 75%;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
}





