{% extends 'base.html' %}
{% block content %}

    <h1>Bookmarks</h1>

    <div class="container">
    {% for bookmark in listing_list %}
    <div class="product-list">
      <div class="list-item">
        <a href="{{ bookmark.listing_url }}">
        <div class="result_image">
          <img src="{{ bookmark.listing_image }}" class="bookmark_image">
        </div>
      <div class="product-info">
        <div class="product-text">
          <h5>{{ bookmark.listing_title }}</h5></a>
          <p>{{ "${:,.0f}".format(bookmark.listing_price) }}</p> 
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}


