{% extends 'base.html' %}
{% block content %}

    <h1>Bookmarks</h1>

    <div class="grid">
    {% for bookmark in listing_list %}
    <div class="grid-item bookmark-item">
      <a href="{{ bookmark.listing_url }}"><img src="{{ bookmark.listing_image }}" class="bookmark_image"></a>{# {{ bookmark.listing_brand }} #}
      <div class="bookmark_text">
      <p>{{ bookmark.listing_title }}</p>
        <p>{{ bookmark.listing_price }}</p> 
      </div>
    </div>
  {% endfor %}
  </div>


{% endblock %}


