{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row"></div>
        <div class="col-xs-offset-5 col-xs-7">
            <h1 id="search-page-head">PinShop</h1>
        </div>
    
    <div class="row"></div>
      <div class="col-xs-offset-3 col-xs-9">
        <p><h3 id="search-page-desc">Search for your favorite styles by using your pins and images!</h3></p>
    </div>
</div>

<div class="split-left">
     <form action="/search" method="POST" id="image_form">
      <p><h4>Search by Image URL</h4></p>
    <div class="form-group">
      <label>Image URL:
          <input type="url" name="image_URL" class="image_URL" id="image_URL">
          <div>
            <div id="default_shape"></div>
            <img id="image_preview" src="" />
          </div>
      </label>
      <input type="hidden" name="image_desc" id="image_desc"></input>
    </div>

    <div>
        <label>
          Top Size*
          {% if session.get("user_id") %}
            <select name="size">
              <option value="X-Small" {% if user.size == "X-Small" %} selected="selected" {% endif %}>X-Small</option>
              <option value="Small" {% if user.size == "Small" %} selected="selected" {% endif %}>Small</option>
              <option value="Medium" {% if user.size == "Medium" %} selected="selected" {% endif %}>Medium</option>
              <option value="Large" {% if user.size == "Large" %} selected="selected" {% endif %}>Large</option>
              <option value="X-Large" {% if user.size == "X-Large" %} selected="selected" {% endif %}>X-Large</option>
          </select>
          {% else %}
          <select name="size">
              <option value="X-Small">X-Small</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="X-Large">X-Large</option>
          {% endif %}
        </label>
      </div>

      <div>
        <label>
          <p>Pant Size (US, inches)*</p>
          {% if "user_id" in session %}
            <input type="number" name="pant_size" min="23" max="40" value="{{ user.pant_size }}" class="form-control">
          {% else %}
            <input type="number" name="pant_size" min="23" max="40" class="form-control">
          {% endif %}
        </label>
      </div>

      <div>
        <label>
          Shoe Size (US)*
          {% if "user_id" in session %}
            <input type="number" name="shoe_size" min="4" max="13" step=".5" value="{{ user.shoe_size }}" class="form-control">
          {% else %}
            <input type="number" name="shoe_size" min="4" max="13" step=".5" class="form-control">
          {% endif %}
        </label>
      </div>

    <div class="form-group">
      <p><input type="submit" value="Search" id="Shop-search" class="btn btn-primary"></p>
    </div>

  </form>
</div>
</div>


<div class="split-right">

  {# SEARCH FOR BOARD PORTION IF USER PROVIDES PINTEREST NAME #}
  <form action="/search" method="GET"> {# make sure this is correctly a get request; need to send board name #}
  {% if session.get("pin_username") %} {# if "pin_username" in session #}
    <p><h4>Search your pins</h4></p>
    <p><h4>Filter by specific board</h4></p> <!-- Allow user to input specific board name -->
    <div class="form-group">
      <label>Pinterest Board Name:
          <input type="text" name="board-name" class="board-name">
      </label>
    </div>

    <div class="form-group">
      <p><input type="submit" value="Load Board" class="btn btn-primary"></p>
    </div>
  </form>

  {% else %}
    <p><h4>Search sample pins</h4></p>
  {% endif %}

  {# SEARCH FOR SPECIFIC PIN AND SUBMIT #}

<div class="grid" id="pin-list">
  {% for pin in melody_pins %} {# melody_pins can either be sample pins or melody's pins depending on session #}
    <div class="grid-item">
      <a href="{{ pin['link'] }}" ><img src="{{ pin['image'] }}" class="pin_image"></a> {# {{ pin['description'] }} #}
      <input type="radio" name="pin-select" class="radiobutton" data-pinimage="{{ pin['image'] }}" data-pindesc="{{ pin['description'] }}">
    </div>
  {% endfor %}
</div>
</div>

<script type="text/javascript">
$(window).on("load", function() {
  console.log("about to do masonry");


$('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: 80,
  horizontalOrder: true,
  gutter: 10
});

console.log("done to do masonry");

$('.radiobutton').click(
  function (evt) {
   
    let button_data = $(this).data("pinimage");
    let description = $(this).data("pindesc");
    console.log(button_data);
    console.log(description);
    $("#image_URL")[0].value = button_data;
    $('#image_desc')[0].value = description;
    $('#image_preview').attr("src", button_data)
  }
  )

$('#image_URL').on('change', function() {

  $('#image_preview').prop('src', this.value);
}

  );
// function readURL(input) {
//   if (input.url && input.url[0]) {
//     let reader = new FileReader();
//     reader.onload = function (e) {
//       $("#image_preview")
//           .attr('src', e.target.result)
//     };
//     reader.readAsDataURL(input.url[0]);
//   }

// }
});
</script>
{% endblock %}