<html>
<head>
    <title>PinShop</title>
</head>
<body>
    <h1>PinShop</h1>
    <div>
    <p><h3>Search for your favorite styles by using your pins and images!</h3></p>
</div>
     <form action="/search" method="POST">

    <div class="form-group">
      <label>Image URL:
          <input type="url" name="image_URL" class="image_URL">
      </label>
    </div>

    <div class="form-group">
      <p><input type="submit" value="Search on Etsy" class="btn"></p>
    </div>

  </form>

</body>
</html>